@*@Model.Illegal_Parking.Models.ParkingArea*@

@{
    ViewData["Title"] = "Home Page";

}
<div class="jumbotron" style="text-align:center">
    <h1 class="text-dark" style="text-shadow:2px 2px #b200ff"  >Illegal Parking System</h1>
    <p>This is the site where we track illegally parked cars and cars that are not in working order</p>
</div>
<div>
    <p>
        <img src="~/images (2).jpg" style="width:100%" height="400px"/>
    </p>
</div>
